@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#navbar {
    overflow: hidden;
    text-align: center;
    margin-bottom: 75px;
}

#navbar a {
    display: inline-block;
    padding: 20px;
    color: #87d82f;
    text-decoration: none;
}

/* INDEX STUFF */
.index-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 75px;
}

.index-img img {
    width: 100px;
    height: 100px;
    z-index: 0;
    position: relative;
    border-radius: 50%;
}

#index-header {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #87d82f;
}

#index-header a {
    text-decoration: none;
    color: #87d82f;
}

#index-main {
    font-family: 'Roboto Mono';
    width: 100%;
    background-color: #d6cee5;
    padding: 40px;
}


#info ul {
    list-style-type: upper-roman;
}

#info a{
    text-decoration: none;
}

.eye-container {
    display: flex;
    position: absolute;
}

.eye-container .eye {
    z-index: 1;
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 20px;
    border-radius: 50%;
    transform: scale(0.4);
}

.eye-container .eye::before {
    content: "";
    top: 50%;
    left: 43px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    box-sizing: border-box;
}

/* ABOUT STUFF*/

.about-container {
    width: 100%;
    padding: 50px;
    display: flex;
}

#workstation h1 {
    color: #fff;
    font-family: 'Roboto Mono';
    margin-bottom: 10px;
}

#workstation img {
    height: 420px;
}


/* WIHB STUFF*/

.img-collection-1 h1 {
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono';
}

.corsica-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.corsica-images img {
    height: 400px;
    padding: 5px;
}


/* OTHER */

.disable-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#cc-logo {
    width: 130px;
}

#cc-logo:hover {
    transform: scale(1.05);
}